:root {
  // Theme Colors
  --nf-theme-bg: #18191c;
  --nf-theme-layout: #1e2023;

  // Colors
  --nf-primary: #1a5cff;
  --nf-success: #46c93a;
  --nf-danger: #ff4757;
  --nf-warn: #ffba00;
  --nf-dark: #000000;

  // Widths
  --nf-toast-width: 250px;
}